*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:rgb(0, 0, 0);

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;

    background-image: url("img/Map_1_thetreeoftheworld.png");
    background-size: cover;      /* เต็มจอ */
    background-position: center; /* อยู่กลาง */
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;


}
/* NAV */
.nav{
    position:fixed;
    top:50px;
    left:50px;
    margin-top: 100px;
}

/* ปุ่ม */
.main-btn,
.item{

    width:60px;
    height:60px;

    border:none;
    background:none;
    cursor:pointer;
}
.main-btn img,
.item img{
    width:60px;
    height:60px;

    display:block;
    transition:.25s;
}
/**/
.main-btn:hover img,
.item:hover img{
    transform:scale(1.08);
}

.menu{
    display:flex;
    flex-direction:column;
    gap:10px;
    max-height:0;
    overflow:hidden;
    transition:max-height .5s;

}
.menu.show{
    max-height:600px;
}
.item{
    opacity:0;
    transform:translateY(-30px);
    transition:.35s;
}
.menu.show .item{
    opacity:1;
    transform:translateY(0);
}
.menu.show .item:nth-child(1){
    transition-delay:.05s;
}
.menu.show .item:nth-child(2){
    transition-delay:.15s;
}
.menu.show .item:nth-child(3){
    transition-delay:.25s;
}
.menu.show .item:nth-child(4){
    transition-delay:.35s;
}

/*Time bar*/
.datetime{
    position: fixed;
    top: 20px;
    right: 20px;
    
    width: 280px;

    color: rgb(241, 241, 241);

    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    /*text-shadow: 0 0 8px #00e5ff;*/
}
#clock{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 15px;
    
    background: rgba(167, 165, 165, 0.35);
    padding:10px;
    backdrop-filter: blur(5px);

    
}
#calendar{
    background:rgba(255,255,255,.08);
    border: 1px solid rgba(0,229,255,.4);
    backdrop-filter:blur(10px);
    border-radius:12px;
    padding:15px;
    font-size:15px;
}

#calendar table{
     width:100%;
    border-collapse:separate;
    border-spacing:8px;
    text-align:center;
}

/* Hp bar*/
.Hp-box{
    position:fixed;
    width:450px;
    height:30px;

    background:#222;
    border:2px solid white;

    /* ทรงเฉียง */
    clip-path:polygon(
        0% 10%,
        0% 0%,
        100% 0%,
        90% 100%,
        0% 100%
    );
    overflow:hidden;
    margin: 20px;
    margin-left: 150px;

    z-index:2;
}

#Hp-bar{
    width:50%;
    height:100%;
    background:linear-gradient(
        90deg,
        #00ff00,
        #00aa00
    );
    transition:width .5s;

     clip-path:polygon(
        0% 10%,
        0% 0%,
        100% 0%,
        90% 100%,
        0% 100%
    );
}
#Hp-text{
    color: #ffffff;

    position:fixed;
    top:10px;
    left:20px;

    width: 650px;
    height: 50px;

     clip-path:polygon(
        0% 10%,
        0% 0%,
        100% 0%,
        90% 100%,
        0% 100%
    );

    background: rgba(128, 128, 127, 0.25);
    backdrop-filter:blur(10px);

    
    padding: 5px ;
    padding-top: 20px;
    padding-left: 25px;

    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;

    z-index:1;
}

.myname{
    position: absolute;

    top:20px;
    left:0;

    width:100%;
    text-align:center;

    font-family: Arial, Helvetica, sans-serif;

    color:rgb(255, 255, 255);
    font-size:28px;
    font-weight:bold;
}

.line{

    position: fixed;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80%;
    height:2px;
    background:rgb(148, 146, 146);
}

/* popup */
.popup_mysatus{
    position: fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    width:350px;
    height:600px;
    background: linear-gradient(
        to top,
        #ffffff,
        rgb(255, 255, 255)
    );

    
     

    display:none;

    clip-path: inset(50% 0 50% 0);
    opacity:0;
    transition:
        clip-path .25s ease,
        opacity .25s ease;
    z-index:1000;
}

.popup_mysatus.show{
    clip-path: inset(0);
    opacity:1;
}
#my_img img{
    width: 150px;
    height: 200px;
    transform:translate(70%,40%);
    border:3px solid #9ea1a1
}

/**/












@keyframes float{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-9px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes popup{
    from{
        transform:scale(.8);
        opacity:0;
    }
    to{
        transform:scale(1);
        opacity:1;
    }
}